ats.pdf
.vs/
packages/

IPort/bin
IPort/obj

ITelephoneExchange/bin
ITelephoneExchange/obj

ITerminal/bin
ITerminal/obj

Phone/bin
Phone/obj

Port/bin
Port/obj

TelephoneExchange/bin
TelephoneExchange/obj
TelephoneExchange.Tests/bin
TelephoneExchange.Tests/obj

Terminal/bin
Terminal/obj
Terminal.Tests/bin
Terminal.Tests/obj

UI/bin
UI/obj

IRepository/bin
IRepository/obj

PhoneRepository/bin
PhoneRepository/obj

BillingRepository/bin
BillingRepository/obj

BillingUnitofWork/bin
BillingUnitofWork/obj

IExchangeBilling/bin
IExchangeBilling/obj

ExchangeBilling/bin
ExchangeBilling/obj

Repositories/bin
Repositories/obj

ITariff/bin
ITariff/obj

BasicTariff/bin
BasicTariff/obj

Client/bin
Client/obj

IndividualClient/bin
IndividualClient/obj
